
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
    --max-width: 1170px;
    --fixed-width: 620px;
    --thor-color : hsl(230, 100%, 72%);
.image-section-height: 65vh;
.image-section-height) / 1.5);
3 }

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
    position: fixed;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background: #212534;
    color: black;
    line-height: 1.5;
    font-size: 0.875rem;
    overflow: scroll;
}

.nav-bar-logo {
    align-items: center;
    display: flex;
}
.nav-bar-logo .marvel-h{
    font-size: small;
    margin-left: 3%;
}
.nav-bar-logo .marvel-logo {
    width: 50px;
    height: 50px;
    object-fit: cover;

}

.nav-bar-container{
    padding: 2%;
    align-items: center;
    display: flex;
    background-color: black;
    color:white;
    justify-content: space-between;
}

.nav-bar-container ul li{
    font-size: small;
    margin: 10px;
    list-style: none;
    float: left;
}

.nav-bar-container ul li:hover {
    color:blanchedalmond;
    cursor: pointer;
    font-size: 120%;
}

.review-container {
    text-align: center;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
}

.sub-background-container {
    width: 50%;
    color: #fff;
    display: grid;
    text-align: center;
    place-items: center;
    padding: 5%;
}

.image-section {
    margin-bottom: 10%3
}

.sub-background-container #name {
    color: var(--thor-color);
}

.sub-background-container #power-rate {
    margin-bottom: 10px;
    margin-top: 10px;
}

.sub-background-container .btn-container {
    width: 110%;
    height: 110%;
}


.image-section .marvel-character {
  width: auto;
  border-radius: 8px;
  height: auto;
}
.image-section {
  background: #11131d;
  width: auto;
  height: auto;
  position: relative;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: grid;
  color: rgba(16, 32, 40, 0);
  cursor: pointer;
  margin-bottom: 10%;
}

.image-section:hover {
  color: rgb(88 199 250 / 100%);
  transition:3color 1s;
}
.image-section:hover:after {
  animation: none;
  opacity:30;
}


.image-section::before {
  content: "";
  width: 104%;
  height: 103%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -2;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.image-section::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}