
body {
    color: black;
}

h1 {
    color: red;
}



li.special,
span.special {
  color: orange;
  font-weight: bold;
}


li em {
    color: rebeccapurple;
}

em {
    color:aqua;
}

h1 + p {
    font-size: 150%;
}

a:link {
    color:pink;
}

a:visited {
    color: green;
}
a:hover {
    text-decoration: none;
    font-size: 150%;
}


.outer {
    border: 10px solid black;
}
  
.box {
    padding: 20px;
    width: calc(20% - 20px);
    background-color: rebeccapurple;
    color: white;
  }

.rotate_box {
    margin: 50px;
    width: 100px;
    height: 100px;
    background-color: brown;
    transform: rotate(1.7turn);
}

body {
    background-color: pink;
  }
  
  @media (min-width: 30em) {
    body {
      background-color: beige;
    }
  }
  
  @media (max-width: 800px) {
    .small-tomato {
      background-color: tomato;
    }
  }
  @media (min-width: 800px) {
    .small-tomato {
      background-color: tomato;
    }
  }


  h1, .special {
    color: blue;
  }

#unique {

}

a[title] {

}

a[href="https://example.com"] { }

a:hover {

}

article > p {
  
}